@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
	line-height: 1.5;
	font-family: 'Dongle', sans-serif;
}

.section-padding {
	margin-top: 150px ;
    padding-top: 150px;
}

.container-article {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    padding: 25px 50px 75px 100px;  
    width: 92%;
}

.container-article img {
    float: right;
    height: 200px;
	width: 325px;
    margin-left: 50px;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px !important;
}

.radio-switch {
    background-color: #2a4d50;
    border-radius: 9999px;
    display: inline-flex;
    padding: 0.25rem;
    margin: 0.5rem;
    float: right;
}

.radio-switch__label {
    border-radius: 9999px;
    cursor: pointer;
    padding: 0.25rem 0.5rem;

}

.radio-switch__label--selected {
    background-color: #f19c24;
    color: #fff;
}

.radio-switch__input {
    display: none;
}