@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');
body{
    background-color:bisque;
    min-height: 100vh;
    padding-bottom: 50px;
    font-family: 'Dongle', sans-serif;
    font-size: 2rem;
    color:  #2a4d50;
}

.container{
    width: 50%;
    height: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 4rem;
}

thead{
    background-color: #f19c24;
  color: #333;
}

th, td {
    white-space: nowrap;
    color:  #2a4d50;
    text-align: center;
    word-wrap: break-word;
  }
  
.icon {
    margin-right: 10px; /* Add some spacing between the icons */
    display: inline-block;
  }

.fa{
    color: #2a4d50;
}

.btn
{
    color: #2a4d50;
    border: 1px;
    border-style:inset;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    float: right;
}

table tr td:last-child {
    width: 10px;
}