@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');
body {
  background-color: bisque;
  min-height: 100vh;
  padding-bottom: 50px;
  font-family: 'Dongle', sans-serif;
  font-size: 2rem;
  color: #2a4d50;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  zoom: 1.5;
}

.crud-container {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  overflow-x: auto;
  font-size: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

table {
  width: 100%;
  padding: 50px;
  table-layout: fixed;
}

thead th:nth-child(1),
tbody td:nth-child(1),
thead th:nth-child(2),
tbody td:nth-child(2),
thead th:nth-child(3),
tbody td:nth-child(3),
thead th:nth-child(4),
tbody td:nth-child(4),
thead th:nth-child(5),
tbody td:nth-child(5),
thead th:nth-child(6),
tbody td:nth-child(6),
thead th:nth-child(7),
tbody td:nth-child(7) {
  width: 5%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

thead th:nth-child(10),
tbody td:nth-child(10),
thead th:nth-child(11),
tbody td:nth-child(11) {
  width: 12%;
}
thead th:nth-child(8),
tbody td:nth-child(8),
thead th:nth-child(9),
tbody td:nth-child(9) {
  width: 12%;
  vertical-align: top;
  word-wrap: break-word;
}
.cell-content {
  max-width: 200px;
  max-height: 100px;
  overflow: auto;
}

tr {
  margin-bottom: 10px;
}


h2 {
  font-size: 4rem;
}

thead {
  background-color: #f19c24;
  color: #333;
}

th,
td {
  white-space: nowrap;
  color: #2a4d50;
  text-align: center;
  word-wrap: break-word;
}

.icon {
  margin-right: 10px;
  /* Add some spacing between the icons */
  display: inline-block;
}

.fa {
  color: #2a4d50;
}

.btn {
  color: #2a4d50;
  border: 1px;
  border-style: inset;
  border-radius: 1.5rem;
  font-size: 1rem;
  
}

table tr td:last-child {
  width: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Dongle', sans-serif;
  font-size: large;
  text-decoration: none;
  list-style: none;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 6%;
  transition: all .50s ease;
  background-color: #f19c24;
  height: fit-content;
}


/*Login/Signup Button*/
.profile {
  --primary-color: #2a4d50;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  background: var(--primary-color);
  display: flex;
  padding-left: 30px;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  font-size: 27px;
  height: 50px;
  width: 140px;
}

.profile .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.profile .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.profile:hover {
  background-color: var(--hover-color);
}

.profile:hover .arrow {
  background: var(--secondary-color);
}

.profile:hover .arrow:before {
  right: 0;
}
/*Logo & Text Property*/
.logo{
    display: flex;
    align-items: center;
    color: var(--bg-color);
    text-decoration: none;
}
.logo i{
    color: var(--main-color);
    font-size: 25px;
    margin-right: 3px;
    text-decoration: none;
}
.logo span{
    color: var(--bg-color);
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
}
.logo span:hover{
    color: #2a4d50;
    transition: all .50s ease;
}
.brand-name {
  display: inline-block;
  vertical-align: middle;
  font-size: 50px;
  color: #fff;
}
.brand-name:hover {
  color: #2a4d50;
  transition: all .50s ease;
}

/*Navbar Properties*/
.navbar{
    display: flex;
    padding-top: 40px;
}
.navbar a{
    color: var(--bg-color);
    font-size: 27px;
    font-weight: 500;
    text-decoration: none;
    padding: 20px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar a:hover{
    color: #2a4d50;
}
.navbar a:hover:active{
    color: #2a4d50;
}
.profile{
  padding-right: 25px;
  padding-top: 5px;
  align-items: center;
}
.arrow-wrapper{
  margin-bottom: 5px;
}

#menu-icon{
    font-size: 35px;
    color: var(--bg-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

/*Responsiveness*/
@media (max-width:1280px){
  #menu-icon {
    display: block;
  }
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}
@media (max-width: 1090px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 29vh;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all .50s ease;
  }
  .navbar a {
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all .50s ease;
  }
  .navbar a:hover {
    color: #2a4d50;
    transform: translateY(5px);
  }
  .navbar a:active {
    color: #f19c24;
  }
  .navbar.open {
    right: 20%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  header {
    padding: 14px 2%;
    transition: .2s;
  }
  .navbar a {
    padding: 5px 0;
    margin: 0px 10px;
    font-size: 0.9rem;
  }
}
