@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

.ourstorydesc{
    color: rgb(204, 98, 6);
    text-indent: 10px;
    font-size:20pt;
    text-align: center;
    /* I just added a fallback font if the set font style fails (-Leo) */
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
  }

  h1{
    text-align: center;
    color: #f19c24;
    margin:auto;

  }


  .gallery1{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  
}
  