@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&family=Source+Sans+Pro&family=Source+Serif+Pro:ital,wght@1,600&display=swap');
* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #655943;
}
.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
  }
  ul li {
    position: relative;
    margin: 0 20px;
    list-style: none;
    display: inline-block;
    padding: 14px;
    font-size: 17px;
  }
  ul li a{
  text-decoration: none; 
  cursor: pointer;
  color: rgb(255, 255, 255);
  }
  ul li a:hover {
     background-color: rgb(129, 123, 123);
  }
  .crud-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 50px;
}

.pet-information {
	width: 100%;
	overflow-x: auto;
	margin: 0 auto;
	font-size: 16px;
}

.pet-information table {
	padding: 20px;
	width: 100%;
}

.pet-information h2 {
	text-align: center;
}

.pet-information a.btn {
	display: block;
	margin: 20px auto;
	width: 200px;
	text-align: center;
	color: #543f39;
	border-radius: 21px;
	padding: 10px;
	text-decoration: none;
}

.pet-information a.btn:hover {
	background-color: #543f39;
	color: #fff;
}


/* Navbar items */

.navtop {
	background-color: #efa21d;
	height: 100px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
    height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}

.navtop div h1 {
	flex: 1;
	font-size: 45px;
    font-family: dongle;
	padding: 0;
	margin: 0;
	color: #ffffff;
font-weight: bolder;
}

.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #1a7575;
}
body.loggedin {
	background-color: #fffef9;
}
.content {
	width: 1000px;
	padding-left: 500px;
}
.content p{
	font-size: 50px;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 50px;
    font-family: Open Sans;
    font-weight: 200;
	border-bottom: 1px solid #e0e0e3;
    color: #3d804b;
}
.content > p, .content > div {
	margin: 25px 0;
	padding: 50px;
	background-color: #fff;
}
.content > p table td, .content > div table td {
	padding: 8px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #f19c24;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}



/* going to replace/hide these pre-set css, but will keep them in case something goes awry in the code itself
.navtop {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}
body.loggedin {
	background-color: #f3f4f7;
}
.content {
	width: 1000px;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}
*/