@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
	line-height: 1.5;
	font-family: 'Dongle', sans-serif;
}

.section-padding {
	margin-top: 54px ;
    padding-top: 150px;
}

.container-video-a {
    display: flex;
    padding: 75px;  
    justify-content: center;
    background-color: #f19c24;
}

.container-video-b {
  display: flex;
  padding: 75px;  
  justify-content: center;
  background-color: white;
}

    @media only screen and (min-width: 768px) {
        iframe{
          height: 13em;
        }
        .card{
          width: 50%;
        }
      }
