@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
	line-height: 1.5;
	font-family: 'Dongle', sans-serif;
}

.section-padding {
	margin-top: 54px ;
    padding-top: 150px;
}

.container-video {
    display: flex;
    padding: 25px 50px 75px 100px;  
    justify-content: center;

}
    @media only screen and (min-width: 768px) {
        iframe{
          height: 13em;
        }
        .card{
          width: 50%;
        }
      }
