@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-family: 'Dongle', sans-serif;
    font-size: 100px;
}